<div class="container-fluid">
    <!-- Phân trang -->
    <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
        <i class="bi bi-caret-left"></i>
        </button>
    
        <ng-container *ngFor="let page of visiblePages">
        <button
            *ngIf="page !== '...'; else dots"
            [class.active]="page === currentPage"
            (click)="changePage(page)">
            {{ page }}
        </button>
        <ng-template #dots>
            <span>...</span>
        </ng-template>
        </ng-container>
    
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
        <i class="bi bi-caret-right"></i>
        </button>
    </div>
    
    <div class="request-table-container">
        <table class="request-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of paginatedData">
                    <td>{{ row.id }}</td>
                    <td>{{ row.fullName }}</td>
                    <td>{{ row.userName }}</td>
                    <td>{{ row.email }}</td>
                    <td>
                        <button class="request-processing-btn">Xử lý yêu cầu</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>