<div class="container-fluid">
    <div class="song-header">
        <button (click)="toggleAddSongForm()">Thêm bài hát</button>

        <!-- Bảng thông tin thêm bài hát -->
        <div *ngIf="isAddSongFormVisible" class="add-song-form">
            <form (ngSubmit)="submitAddSongForm()" autocomplete="off">
                <div class="add-song-header">
                    <h3>Thêm bài hát mới</h3>
                    <button type="button" class="close-button" (click)="toggleAddSongForm()">
                        <i class="bi bi-x"></i>
                    </button>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="songName">Tên bài hát:</label>
                        <input type="text" id="songName" [(ngModel)]="newSong.name" name="songName" required />
                    </div>
                    <div class="form-group">
                        <label for="songArtist">Nghệ sĩ:</label>
                        <input type="text" id="songArtist" [(ngModel)]="newSong.artist" name="songArtist" required />
                    </div>
                </div>  

                <div class="form-row">
                    <div class="form-group">
                        <label for="songImage">Hình ảnh:</label>
                        <input type="file" id="songImage" (change)="onImageChange($event)" name="songImage" accept="image/*" />
                    </div>
                    <div class="form-group">
                        <label for="songSrc">Âm thanh:</label>
                        <input type="file" id="songSrc" (change)="onAudioChange($event)" name="songSrc" accept="audio/*" />
                    </div>
                </div>  

                <div class="form-group">
                    <label for="songGenre">Thể loại:</label>
                    <div>
                        <!-- Select để chọn thêm -->
                        <select (change)="onSelectChange($event)" [value]="">
                            <option value="" disabled>Chọn thể loại...</option>
                            <option *ngFor="let option of options" [value]="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                        <!-- Hiển thị các nút đã chọn -->
                        <div *ngFor="let item of selectedItems" class="selected-items">
                            <button type="delete-genre" class="selected-btn" (click)="removeItem(item)">{{ item.text }} </button>
                        </div>
                    </div>
                </div>  

                <div class="form-group">
                    <label for="songLyrics">Lời bài hát:</label>
                    <textarea id="songLyrics" [(ngModel)]="newSong.lyrics" name="songLyrics" rows="5" required></textarea>
                </div>

                <button type="submit">Lưu bài hát</button>
            </form>
        </div>

        <!-- Phân trang -->
        <div class="pagination">
            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
                <i class="bi bi-caret-left"></i>
            </button>
            <ng-container *ngFor="let page of visiblePages">
                <button
                    *ngIf="page !== '...'; else dots"
                    [class.active]="page === currentPage"
                    (click)="changePage(page)">
                    {{ page }}
                </button>
                <ng-template #dots><span>...</span></ng-template>
            </ng-container>
            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
                <i class="bi bi-caret-right"></i>
            </button>
        </div>
    </div>
    
    <div class="song-table-container">
        <table class="song-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên bài hát</th>
                    <th>Hình ảnh</th>
                    <th>Âm thanh</th>
                    <th>Nghệ sĩ</th>
                    <th>Thể loại</th>
                    <th>Thao tác</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let song of paginatedData">
                    <td>{{ song.id }}</td>
                    <td>{{ song.songName }}</td>
                    <td><img [src]="song.image" [alt]="song.songName" width="70" height="70"></td>
                    <td>
                        <audio #audioPlayer controls controlsList="nodownload noplaybackrate" (play)="playAudio(audioPlayer)" (pause)="pauseAudio(audioPlayer)">
                            <source [src]="song.preview" type="audio/mpeg">
                        </audio>
                    </td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.genre }}</td>
                    <td>
                        <button class="edit-btn">Sửa</button>
                        <button class="delete-btn" (click)="showConfirmDialog()">Xóa</button>
                            <div *ngIf="isConfirmDialogVisible" class="confirm-dialog">
                                <div class="confirm-dialog-content">
                                    <p>Bạn có chắc chắn muốn xóa?</p>
                                    <button (click)="deleteItem()" class="confirm-btn">Xác nhận</button>
                                    <button (click)="cancelDelete()" class="cancel-btn">Hủy</button>
                                </div>
                            </div>
                            <button class="detail-btn" (click)="navigateToDetailSong()">Xem chi tiết</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>